
<app-navbar></app-navbar>
<div class="home-container" class="flight"><br><br><br><br><br>
    <h1 class="home-title center"><b class="home-h1">Welcome to FlyIndia - Flight Booking System</b></h1>
    <h3 class="home-description center">Book your flight tickets with us!</h3>
    <div class="center">
        <button class="btn btn-primary" style="width: 150px;" (click)="redirectToSearch()">Search Flights</button>
    </div>
</div>

<footer>
  <div class="center">
      <h4>Get Ready to Fly! For any queries, contact support@flyindia.com</h4>
      <p style="text-align: center;">@FlyIndia. All Rights Reserved.</p>
  </div>
</footer>

