/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

body{
    // background: linear-gradient(to top, #afafcd, #242428 90%);
    background-repeat: no-repeat;
    background-color: #ffffff;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: #ebebeb;
    opacity: 60%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .left {
    margin-left: 10px;
  }
  
  .center {
    width: 100%;
    overflow: hidden;
    text-align: center;
  }
  p{
    text-align: center;
    position:fixed;
  }

  .flight{
    background-image: url('/assets/images/flight.webp');
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
html, body { height: 100%;}
body {margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Hide scrollbar for the whole application */
body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

